html {
  font-size: 16px;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}


/*Social Bar*/
.social-bar {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1.8rem;
  font-family: "work sans", helvetica, sans-serif;
}

.social-bar .container {
  justify-content: flex-end;
  align-items: center;
  height: 1.8rem;
  font-size: .9rem;
}

.social-bar .social-icons {
  margin-right: 3rem;
  height: 1rem;
}

.social-bar span {
  color: black;
  margin-right: 1rem;
}

.social-bar a {
  margin: 0 .8rem;
  color: black;
}

.social-bar a:hover {
  color: rgba(26, 26, 26, 0.5);
}

/*Header*/
header {
  background-color: rgba(90, 120, 80, 1.0);
  font-family: "work sans", helvetica, sans-serif;
}

header .mobile {
  display: none;
}

header .container {
  align-items: center;
  height: 4.6rem;
}

header .logo {
  flex-grow: 1;
  height: 2rem;
  display: flex;
  align-items: center;
}

header .logo img {
  width: 100px;
  height: 100px;
}

header .logo span {
  font-family: "marck script", cursive;
  font-size: 3rem;
  color: white;
}

header .logo span:last-child {
  color: rgba(96, 56, 20, 1.0);
}

header .navigation {
  height: 2rem;
  display: flex;
  align-items: center;
}

header .navigation span {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  margin: 0 .1rem;
  padding: 1rem .5rem;
  text-transform: uppercase;
}

header .navigation span:hover {
  color: rgba(96, 56, 20, 0.9);
}

header .navigation span:active {
  color: rgba(0, 0, 0, 0.7);
}


/*Banner*/
.jumbotron {
  font-family: "work sans", helvetica, sans-serif;
  height: 40rem;
  overflow: hidden;
}

.jumbotron .slider {
  width: 100%;
}

.jumbotron .slider img {
  display: inline-block;
  width: 100%;
  position: relative;
  bottom: 24rem;
}




/*Instagram Section*/
.instagram {
  background-color: white;
  font-family: "work sans", helvetica, sans-serif;
  padding: 2rem 0;
}

.instagram .container {
  max-width: 1200px;
  flex-flow: column nowrap;
  align-items: center;
}

.instagram .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.instagram .title h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.instagram .grid {
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.instagram .grid .photo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.instagram .grid .photo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.instagram .grid .photo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.instagram .grid .photo span {
  text-transform: uppercase;
  color: rgba(0, 120, 80, 1.0);
}


/*Contact/Twitter Row*/
.sections {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "work sans", helvetica, sans-serif;
}

.sections .container {
  height: 25rem;
  padding: 2rem 0;
}


/*Contact Section*/
.sections .left {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.sections .left h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1rem auto;
}

.sections .left span {
  margin: 1rem 0;
  padding-left: 1rem;
}


/*Twitter Section*/
.sections .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px rgba(0, 0, 0, 0.1);
}

.sections .right h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1rem auto;
}

.sections .right span {
  padding-left: 1rem;
  margin: 1rem 0;
}


/*Footer Section*/
footer {
  background-color: rgba(90, 120, 80, 1.0);
  height: 4rem;
}

footer .container {
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  height: 3rem;
}

footer .left {
  flex-grow: 1;
}

footer p {
  font-family: "work sans", helvetica, sans-serif;
  font-size: 1rem;
  flex-grow: 1;
  text-align: left;
  color: white;
}

footer .right a {
  margin: 0 .8rem;
  padding: 2rem 0;
  color: white;
}

footer .right i {
  margin: .3rem;
}

footer .right a:hover {
  color: rgba(0, 0, 0, 0.8);
}
