html {
  font-size: 16px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

/*Header*/
header {
  background-color: rgba(90, 100, 80, 1.0);
  font-family: "work sans", helvetica, sans-serif;
}

header .container {
  align-items: center;
  height: 4rem;
}

header .logo {
  flex-grow: 1;
}

header .logo span {
  font-size: 2.5rem;
  text-transform: uppercase;
}

header .logo span:last-child {
  color: rgba(102, 151, 0, 1.0)
}

header .navigation span {
  text-decoration: none;
  font-size: .9rem;
  color: white;
  margin: 0 1rem;
  padding: .3rem;
  text-transform: uppercase;

}

header .navigation span:hover {
  color: rgba(0, 0, 0, 0.5);
}

/*Banner*/
.banner {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "work sans", helvetica, sans-serif;
}

.banner .container {
  height: 30rem;
  justify-content: center;
}

.banner .title h1 {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 1rem;
}


/*Gallery Section*/
.gallery {
  height: 30rem;
  background-color: white;
}










/*Instagram Section*/
.instagram {
  background-color: white;
}

.instagram .container {
  height: 30rem;
}


/*Contact/Twitter Row*/
.sections {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "work sans", helvetica, sans-serif;
}

.sections .container {
  height: 30rem;
}


/*Contact Section*/
.sections .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.sections .left h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem auto;
}

.sections .left span {
  margin: 1rem 0;
  padding-left: 1rem;
}


/*Twitter Section*/
.sections .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  border: solid 2px rgba(0, 0, 0, 0.1);
}

.sections .right h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem auto;
}

.sections .right span {
  padding-left: 1rem;
  margin: 1rem 0;
}

/*Footer Section*/
footer {
  background-color: rgba(90, 100, 80, 1.0);
}

footer .container {
  height: 4rem;
}

footer p {
  font-family: helvetica;
  font-size: 1rem;
  flex-grow: 1;
  text-align: left;
}

footer img {
  width: 5rem;
  height: 5rem;
}

/*
.sub-container {
  width: 50%;
  border: solid 1px white;
}

#copyright-container {
  text-align: left;
}

#copyright-container p {
  padding: 10px 0;
}

#social-container {

}

#social-container img {
  height: 4rem;
  border: dotted 1px black;
}

#social-container ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
*/
